/* universal selector style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body style to shade background slightly darker white*/
body {
    background-color: #d9dcd6;
}

/* header style so make header blue and determine font family and size*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* h1 style for the Horiseon title*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes color of "seo" in horiseon */
.seo {
    color: #d9dcd6;
} 

/* nav style to make the links float to the right */
nav{
    padding-top: 15px;
    float: right;
}

/* a style for formating the links at top of page*/
a {
    color: #ffffff;
    text-decoration: none;
    padding-right: 20px;
    font-size: 19px;
}

/* p style the determines the font size*/
p {
    font-size: 16px;
}

/* figure style that includes meeting picture */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* moves picture to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* moves picture to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* makes the 3 boxes only take up 75% of the screen to leave space for the aside box */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sets up 3 boxes of content under picture */
.threeBox {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* limits picture size in 3 boxes */
.threeBox img {
    max-height: 200px;
}

/* styles font for 3 box titles */
.threeBox h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* aside style that creates a box on the right side*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* sets up margin and text color in aside box */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* h3 style  for smaller centered text in the aside box*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* keeps aside imgs smaller and formated in a block */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styles footer font and alignment */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}
/* styles footer text size */
footer h2 {
    font-size: 20px;
}
